In [2]:
import pandas as pd
df = pd.read_csv('M:\\Kaggle\\Image_Stegnography\\input_dataset_ALASKA.csv')
df.head()

,Unnamed: 0,imagepath,imagename,label
0,0,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,77231.jpg,0
1,1,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,32130.jpg,0
2,2,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,31619.jpg,0
3,3,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,67721.jpg,0
4,4,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,11242.jpg,0

In [3]:
df['batch'] = df['imagename'].str.slice(0,5).astype(int)
df.head()

,Unnamed: 0,imagepath,imagename,label,batch
0,0,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,77231.jpg,0,77231
1,1,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,32130.jpg,0,32130
2,2,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,31619.jpg,0,31619
3,3,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,67721.jpg,0,67721
4,4,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,11242.jpg,0,11242

In [4]:
df['batch'] = pd.cut(df['batch'], 10, labels = [0,1,2,3,4,5,6,7,8,9])
df.head()

,Unnamed: 0,imagepath,imagename,label,batch
0,0,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,77231.jpg,0,9
1,1,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,32130.jpg,0,4
2,2,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,31619.jpg,0,3
3,3,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,67721.jpg,0,8
4,4,gs://kds-710f4cc0a1dc7cc3dcad3cf7149c819425479...,11242.jpg,0,1

In [5]:
df['batch'].value_counts()

2    30120
7    30084
6    30060
8    30052
5    30024
1    29992
0    29984
4    29944
3    29876
9    29864
Name: batch, dtype: int64

In [52]:
df.to_csv('input_batch.csv', index=False)

In [24]:
df['imagepath'] = df.imagepath.str.replace('gs://kds-710f4cc0a1dc7cc3dcad3cf7149c8194254794b0fba0941d5a202d1b/',
                        'gs://kds-cd794677eb4416f86e3e23278e2d1f1e37783bc29e7982b08d469689/', regex = True)

In [8]:
for i in range(0,5,2):
    l = [i,i+1]
    lab = df[(df['batch'] == i) | (df['batch'] == i+1)]['label']
    print(lab.value_counts())
    print(l)
    print('******************')

0    14994
9     5026
6     5026
3     5026
8     5024
5     5024
2     5024
7     4944
4     4944
1     4944
Name: label, dtype: int64
[0, 1]
******************
0    14999
9     5024
6     5024
3     5024
7     5019
4     5019
1     5019
8     4956
5     4956
2     4956
Name: label, dtype: int64
[2, 3]
******************
0    14992
9     5058
6     5058
3     5058
7     4979
4     4979
1     4979
8     4955
5     4955
2     4955
Name: label, dtype: int64
[4, 5]
******************

In [14]:
for i in range(5,6):
    print(i)

5